n8n/General_workflow_1.json
{
  "name": "General_workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        -90
      ],
      "id": "1b2b8517-05f5-40e4-8e45-85e4738bdd91",
      "name": "Webhook",
      "webhookId": "461d9b79-3a71-497f-9b34-ea06203b85a7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Tu es un assistant pédagogique. Résume le texte suivant de manière claire, structurée et concise, sous forme de contenu HTML. Les formules mathématiques devrons être sous le format Math in Tex. Le résumé doit être lisible pour un étudiant et facilement intégrable dans une page web.\n\n- Utilise des balises HTML sémantiques simples : `<h1>`, `<h2>`, `<p>`, `<ul>`, `<li>`, etc.\n- Garde les notions importantes, définitions, concepts clés et exemples utiles.\n- Structure bien le contenu (titres, paragraphes, listes si nécessaire).\n- Ne dépasse pas 300 mots sauf si le texte est très long.\n- Retourne seulement la partie entre les balises <body> sans mettre ces dernières\n- ?\nTexte du cours à résumer :"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -160,
        -440
      ],
      "id": "15c0def8-0d0f-47ab-846b-efb2646bad52",
      "name": "Summeriser",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -380,
        -440
      ],
      "id": "a969d377-09e9-47a4-99dd-1d12990d13ce",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        656,
        -90
      ],
      "id": "17e565ab-efa8-45f2-ac3c-d4aac8f04e8c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -72,
        -220
      ],
      "id": "6a3637f5-0d75-469d-859a-a36f4839b4d1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QGaRWxiNdW8dqrj8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.category }}",
                    "rightValue": "cat1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "019e847e-a475-4bb4-bd79-b62f7b0c9567"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cff56140-919d-42ff-9f8c-3ce5403b31b7",
                    "leftValue": "={{ $json.body.category }}",
                    "rightValue": "cat2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6155761f-f798-4aba-9e9d-d9c9f9143b93",
                    "leftValue": "={{ $json.body.category }}",
                    "rightValue": "cat3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50d5e369-bce0-4bf2-a401-02209bf18bbd",
                    "leftValue": "={{ $json.body.category }}",
                    "rightValue": "ca",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -600,
        -111
      ],
      "id": "72f367bd-57f4-44ba-a895-177d9d01ec00",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -72,
        480
      ],
      "id": "aefca39e-847c-4069-b675-a26ea805713a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QGaRWxiNdW8dqrj8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -380,
        260
      ],
      "id": "5cb3ca6c-3f4a-415b-a8fd-d72a08871701",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Tu es un créateur de quiz pédagogique. Ta mission est de générer des quiz interactifs et pertinents sur un sujet donné.\nVoici les consignes : \n    Nombre de questions : 10\n    Format des questions :\n\n        Type : QCM (questions à choix multiples)\n\n        Chaque question doit proposer 1 bonne réponse et 3 distracteurs (mauvaises réponses)\n\n        Numérote les questions et les choix (A, B, C, D)\n\n    Niveau de difficulté : Progressif\n\n    Langue : Français\n\nPour chaque question, donne :\n\n    La question\n\n    Les 4 réponses possibles\n\n    La bonne réponse clairement identifiée\n\n Une explication ou un contexte pédagogique après la réponse\n\nExemple de format attendu :\n<div class=\"question-block\" data-question=\"q1\" data-correct=\"B\">\n  <div class=\"question\">\n    <h2>Question 1 : Quel est l’élément HTML utilisé pour insérer une image ?</h2>\n    <input type=\"radio\" name=\"q1\" value=\"A\"> &lt;link&gt;<br>\n    <input type=\"radio\" name=\"q1\" value=\"B\"> &lt;img&gt;<br>\n    <input type=\"radio\" name=\"q1\" value=\"C\"> &lt;src&gt;<br>\n    <input type=\"radio\" name=\"q1\" value=\"D\"> &lt;picture&gt;<br>\n  </div>\n\n  <div class=\"reponse\" style=\"display:none;\">\n    ✅ Bonne réponse : B\n  </div>\n  <div class=\"explication\" style=\"display:none;\">\n    ℹ️ L’élément &lt;img&gt; permet d’afficher une image sur une page web. L’attribut src définit le chemin de l’image.\n  </div>\n</div>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -160,
        260
      ],
      "id": "590716b4-e0a4-4f7c-a54b-37b40bb74bc7",
      "name": "Quizer",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        436,
        -90
      ],
      "id": "0b18001c-ac33-4833-975e-a16d75436aed",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"quizz\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        216,
        10
      ],
      "id": "9dd96987-e8ae-42a8-a756-87364f408434",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"resume\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        216,
        -190
      ],
      "id": "02d7db2c-2c99-4d51-9a0c-c59125d112ec",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ae6b89a-ee7b-4035-9e28-1ce679da44d2",
              "name": "resume",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        216,
        -440
      ],
      "id": "3fa3671b-3be9-4ed5-ba09-615e0b891a8f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b94fb846-cfb7-4d0c-b49e-30d61aed71aa",
              "name": "quizz",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        216,
        260
      ],
      "id": "2525eb21-0005-40c3-b364-d6e2854c37c0",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summeriser": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Summeriser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summeriser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Quizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Quizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quizer": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bded57b-9fc5-4d9e-9078-e4ee3a48d0a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "810a5a09711e83ddb9dde1ea087184f7d09c734cbbfe8841ddb8972af37936b2"
  },
  "id": "0EZwQkcdnHzSrWuP",
  "tags": [
    {
      "createdAt": "2025-07-08T13:28:48.006Z",
      "updatedAt": "2025-07-09T10:40:06.437Z",
      "id": "8eab1q2e5wo2Uor2",
      "name": "Alebra Project Internal"
    }
  ]
}