n8n/General_workflow_1.json
{
  "name": "General_workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        450
      ],
      "id": "7a2d95c9-7439-4c21-b697-d81a7569de65",
      "name": "Webhook",
      "webhookId": "461d9b79-3a71-497f-9b34-ea06203b85a7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Tu es un assistant pédagogique spécialisé dans la synthèse de cours.\nTon objectif est de transformer un contenu brut en fiche de cours claire, synthétique et structurée.\n\nVoici ce que tu dois faire :\n    Titre du sujet (clair, précis)\n    Introduction courte (en 2-3 phrases)\n    Plan structuré en plusieurs parties avec :\n        Titres et sous-titres\n        Définitions importantes\n        Dates, chiffres clés ou lois (si applicable)\n        Schémas ou encadrés (si utile)\n    Exemples ou cas pratiques si pertinents\n    Conclusion / Points à retenir\n\nStyle attendu :\n    Clair, synthétique\n    Utilise des puces quand c’est pertinent\n    Met en gras les mots-clés importants\n    Pas de phrases trop longues\n    Idéal pour réviser rapidement\n\nContenu brut à transformer en fiche de cours :\n- Utilise des balises HTML sémantiques simples : `<h1>`, `<h2>`, `<p>`, `<ul>`, `<li>`, etc.\n- Garde les notions importantes, définitions, concepts clés et exemples utiles.\n- Structure bien le contenu (titres, paragraphes, listes si nécessaire).\n- Retourne seulement la partie entre les balises <body> sans mettre ces dernièresuq. Ne renvoie que ce qui est necessaire\nTexte du cours à résumer :"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        300,
        100
      ],
      "id": "0134b89f-560c-445e-84ad-76f14ab1ac3f",
      "name": "Summeriser",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        80,
        100
      ],
      "id": "7f60b828-8e22-454f-8f39-1ac7a89918cb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        388,
        320
      ],
      "id": "772f91e8-b82a-4816-82d9-33c952e209cd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QGaRWxiNdW8dqrj8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.category }}",
                    "rightValue": "cat1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "019e847e-a475-4bb4-bd79-b62f7b0c9567"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cff56140-919d-42ff-9f8c-3ce5403b31b7",
                    "leftValue": "={{ $json.body.category }}",
                    "rightValue": "cat2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6155761f-f798-4aba-9e9d-d9c9f9143b93",
                    "leftValue": "={{ $json.body.category }}",
                    "rightValue": "cat3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -140,
        450
      ],
      "id": "0384666f-66a4-47a9-9448-9fc6b15042a8",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        388,
        920
      ],
      "id": "e601d434-1e53-41cf-9dae-43552ed2d51e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QGaRWxiNdW8dqrj8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Objectif\n\nTu es un créateur de quiz pédagogique. Ta mission est de générer des quiz interactifs, pertinents et autoportants sur un sujet donné, à partir d’un contenu que tu as analysé, sans jamais y faire référence explicitement.\n\nConsignes\n\n- Nombre de questions : 10  \n- Type de questions : QCM (Questions à Choix Multiples)  \n  - Chaque question propose 1 bonne réponse et 3 distracteurs (mauvaises réponses).\n  - Les questions doivent être formulées de manière autonome, sans mentionner :\n    - Le document source\n    - Les titres, sections, ou sous-sections\n    - Les numéros de définition (*ex: \"selon la définition 1.1...\"*)\n    - Les phrases comme *\"comme vu précédemment...\"*, *\"selon le texte...\"*, etc.\n- Niveau de difficulté: Progressif (du plus simple au plus complexe)\n- Langue: Français\n\nFormat attendu pour chaque question\n\nChaque question doit être rendue sous la forme HTML suivante :\n\n<div class=\"question-block\" data-question=\"q1\" data-correct=\"B\">\n  <div class=\"question\">\n    <h2>Question 1 : Quel est l’élément HTML utilisé pour insérer une image ?</h2>\n    <input type=\"radio\" name=\"q1\" value=\"A\"><link><br>\n    <input type=\"radio\" name=\"q1\" value=\"B\"> <img><br>\n    <input type=\"radio\" name=\"q1\" value=\"C\"> <src><br>\n    <input type=\"radio\" name=\"q1\" value=\"D\"> <picture><br>\n  </div>\n\n  <div class=\"reponse_bon\" style=\"display:none;\">\n    ✅ Bonne réponse\n  </div>\n  <div class=\"reponse_mauvais\" style=\"display:none;\">\n    ❌ Mauvaise réponse\n  </div>\n  <div class=\"explication\" style=\"display:none;\">\n    ℹ️ L’élément <img> permet d’afficher une image sur une page web. L’attribut src définit le chemin de l’image.\n  </div>\n</div>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        300,
        700
      ],
      "id": "4b5229aa-79ba-4370-99ef-1c5dffa99c0f",
      "name": "Quizer",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        896,
        450
      ],
      "id": "cb8ab36f-2eb2-4b58-87f7-559a06c8941c",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"quizz\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        676,
        550
      ],
      "id": "c40d2677-f971-4242-9380-c02835cc8017",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"resume\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        676,
        350
      ],
      "id": "f4c0b0ec-0804-4951-90b4-3ee2a4f2521b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ae6b89a-ee7b-4035-9e28-1ce679da44d2",
              "name": "resume",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        676,
        100
      ],
      "id": "67709875-7224-4a09-adbd-5b8644b2c9e7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b94fb846-cfb7-4d0c-b49e-30d61aed71aa",
              "name": "quizz",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        676,
        800
      ],
      "id": "6e2a882e-551f-4e56-b8af-6beafd3f1a77",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "test",
          "mode": "list",
          "cachedResultName": "test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1132,
        725
      ],
      "id": "7ba2f5b5-3625-468c-a39b-3b5e9392e329",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "kJMQSgDEirK4xR3X",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        1116,
        945
      ],
      "id": "6a303d39-dd6c-4466-a35a-3af9c0758255",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "igToiVvCLNYdILJ3",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1236,
        947.5
      ],
      "id": "187069f5-0df3-45fe-996b-261fc36b87c8",
      "name": "Default Data Loader",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1324,
        1145
      ],
      "id": "0c1c75e3-8ade-4c73-8ad3-7c62600b47be",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        80,
        800
      ],
      "id": "964eda2f-d8fa-471e-a86b-e3af55a8451b",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "test",
        "filters": {
          "conditions": [
            {
              "keyName": "id_request",
              "condition": "eq",
              "keyValue": "-1"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_request",
              "fieldValue": "={{ $json.rand }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1832,
        625
      ],
      "id": "49c1f03a-e127-44ee-a359-535029e956ca",
      "name": "Supabase1",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "kJMQSgDEirK4xR3X",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport random\nreturn {\"rand\":random.getrandbits(50)}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1612,
        725
      ],
      "id": "1d7ba24a-8c61-424c-9835-e8485226b66a",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.rand }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1832,
        825
      ],
      "id": "37c98d40-621b-42da-9ff7-1fd765d4d1d3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "endpoint",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        378,
        1100
      ],
      "id": "7b80905e-d231-4974-98f0-2a31a6bd791a",
      "name": "Webhook1",
      "webhookId": "461d9b79-3a71-497f-9b34-ea06203b85a7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d701e7bc-fb6c-4b47-91a3-ce25ec7dcc0c",
              "name": "payload",
              "value": "={{ $json.body.payload }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        676,
        1100
      ],
      "id": "313ba1f7-f27f-4ba5-9591-9f56e4cc40e3",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac3a9d75-7397-43f5-a087-c9eb8a7b0dc6",
              "name": "resume",
              "value": "={{ $json.payload[0] }}",
              "type": "string"
            },
            {
              "id": "57ef5b2c-b5ac-459b-9562-4862a7cccf32",
              "name": "quizz",
              "value": "={{ $json.payload[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        1100
      ],
      "id": "c22f6649-0c78-434b-97fb-cdc4d596b190",
      "name": "Edit Fields5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summeriser": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Summeriser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summeriser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Quizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quizer": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Quizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6760fdfb-c47e-4542-9d7c-8f6bc8047a7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "810a5a09711e83ddb9dde1ea087184f7d09c734cbbfe8841ddb8972af37936b2"
  },
  "id": "0EZwQkcdnHzSrWuP",
  "tags": [
    {
      "createdAt": "2025-07-08T13:28:48.006Z",
      "updatedAt": "2025-07-09T10:40:06.437Z",
      "id": "8eab1q2e5wo2Uor2",
      "name": "Alebra Project Internal"
    }
  ]
}